*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav{
  position: relative;
  top: 0px;
  left: 0px;
  margin: 0 auto;
  width: 100%;
  background-color: #222;
}

nav ul{
  list-style-type: none;
  text-align: center;
}

nav ul li{
  display: inline-block;
  text-align: center;
  padding: 10px;
  height: 2%;
}

nav ul li a{
  text-decoration: none;
  color: white;
  padding: 20px;
}

/* an underline appears at the bottom on hover of each link */
nav ul li a:hover, nav ul li a:active{
  border-bottom: 2px solid #ccc;
  padding-bottom: 8px;
}

.site {
  padding-top: 10px;
  padding-left: 8px;
}
