<form class="new_event" action="/users" method="post">
  <input type="text" name="user_details[username]" placeholder="Username">
  <input type="email" name="user_details[email]" placeholder="Email">
  <input type="password" name="password" placeholder="Password">
  <button>Submit</button>
</form>
