<form class="new_event" action="/events" method="post">
  <input type="text" name="event_details[name]" placeholder="Name of Event">
  <input type="text" name="event_details[location]" placeholder="Location of Event">
  <input type="textarea" name="event_details[description]" placeholder="Description of of Event">
  <input type="datetime-local" name="event_details[time]">
  <button>Submit</button>
</form>
