<h2 class="site-logo">Looking for Table</h2>
<% if session[:user_id] %>
  <p><a href="/events/new">Create an Event</a></p>
<% end %>
<div class="form__field">
  <form class="search" action="/" method="get">
    <input type="text" name="search" placeholder="Find an Event">
    <input type="submit" value="Search" class="button">
  </form>
</div>  
<% if @events %>
  <% @events.each do |event| %>
    <p> <a href="/events/<%=event.id%>"><%= event.name %></a></p>
  <% end %>
<% else %>
  <% Event.where("created_at > ?", 7.days.ago).reverse.each do |event| %>
    <p> <a href="/events/<%=event.id%>"><%= event.name %></a></p>
    <% end %>
<% end %>
